body {
    margin: 0;
}

#content {
    display: flex;
    border: 5px solid black;
    height: 75vh;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100px;
    height: 100px;
    font-size: 50pt;
    font-weight: bold;
    text-align: center;
}
.box:nth-child(4n+1) {
    background-color: red;
}
.box:nth-child(4n+2) {
    background-color: blue;
}
.box:nth-child(4n+3) {
    background-color: green;
}
.box:nth-child(4n+4) {
    background-color: yellow;
}