h1 {
    text-shadow: 3px 3px 3px blue, -3px -3px 3px red;
}

#caixa123 {
    background: white;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}