#box1 {
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    position: sticky;
    top: 0;
}

#box2 {
    height: 100px;
    width: 100px;
    background-color: rgb(51, 246, 139);
    position: static;
    top: 50px;
    left: 50px;
}