body {
    margin:50px;
}

.polaroid {
  width: 80%;
  background-color: rgb(255, 203, 203);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.container {
  text-align: center;
  padding: 10px 20px;
}

img {
    width: 100%;
}

#tigre {
    opacity: 0.2;
}

#penguin {
    width: 50%;
    border-radius: 50%;
}