div {
  width: 200px;
  height: 100px;
  border: 1px solid black;
  margin-bottom: 20px;
}

#scroll {
  background-color: coral;
  overflow: scroll;
}

#hidden {
  background-color: grey;
  overflow: hidden;
}

#x-show-y-hidden {
  background-color: burlywood;
  overflow-x: scroll;
  overflow-y: hidden;
}

