#borda-1 {
    border: 3px solid blue;
    border-radius: 20px 20px 50px 0px;
}

#borda-2 {
    border-bottom: 5px solid red;
    border-top: 5px dotted blue;
    border-left: 5px double yellow;
    border-right: 5px groove green;
}