#container {
    background-color: gray;
    height: 100vh;
}
.box {
    background-color: blueviolet;
    border: 2px solid black;
    padding: 25px;
    height: 50%;
    width: 50%;
    float: left;
    box-sizing: border-box;
    max-height: 75%;
}