#p1 {
  font-family: "Times New Roman", Times, serif;
  color: red;
}

#italic {
  font-style: italic;
}

#bold {
  font-weight: bold;
}

h1 {
  font-size: 40px;
  color: chocolate;
}

h2 {
  font-size: 30px;
}