
* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.flex-item {
    background-color: red;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 100%;
    border: 1px solid black;
}

@media (max-width: 650px) {
    .flex-container {
        flex-direction: column;
    }
    .flex-item {
    background-color: blue;
    color: white;
    }
}