:root {
    --green: hsl(147, 50%, 47%);
    --green-dark: hsl(147, 50%, 10%);
    --green-light: hsl(147, 50%, 90%);
}

div {
    background: blue;
}

p {
    color: #fff;
}

#rgb {
    width: 100px;
    height: 100px;
    background: var(--green-dark);
}

#hsl {
    width: 100px;
    height: 100px;
    background: var(--green-light);
}
