#caixa-principal {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 20px;
}

#linha1 {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

#linha2 {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 5px;
}

#linha3 {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 5px;
}

.item {
    width: 80px;
    height: 80px;
    background-color: brown;
    padding: 20px;
}
