p {
    background-color: rgb(106, 106, 255);
    padding: 10px;
}

span {
    background-color: rgb(255, 90, 90);
    color: white;
    padding: 10px;
}

p.ex1 {
    display: none;
}

p.ex2 {
    display: inline;
}

p.ex3 {
    display: block;
}

p.ex4 {
    display: inline-block;
}

p.ex5 {
    display: flex;
}

p.ex6 {
    display: grid;
}