#icons {
    margin-top: 20px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

i {
    cursor: pointer;
    background-color: rgb(232, 232, 232);
    color: #74C0FC;
    padding: 20px;
}

i:hover {
    background-color: rgb(214, 214, 214);
    color: #2ba3ff;
}